*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* ----------------NAVBAR---------------------- */

.nav-container{
  background-color: lightgreen;

}

.nav-container ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navlinks{
  color: darkolivegreen;
  font-weight: bold;
  font-size: larger;
  font-family:cursive;
}

.navlinks:hover{
  color: white;
}


.hosp-logo img {
 margin: 0.5rem;
}

/* ----------MediaQuery---------- */

@media (max-width: 530px) {
  .nav-container ul {
    flex-direction: column;
  }
}